/* ./app/css/style.scss */
/* ---- GLOBAL VALUES ---- */
body {
    background-color: #ddbfeb;
    margin: 0;
    font-family: Ubuntu;
    -webkit-user-select: none;
}
p {
    color: #7DB9B3;
    cursor: default;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    padding: 0;
    display: inline-block;
    margin: 0;
    font-family: CarterOne;
    cursor: default;
    font-size: 36px;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
li ul {
    margin-left: 16px;
}
button {
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    color: rgba(255,255,255,0.9);
    transition: all .5s;
    padding: 6px 6px 7px;
    cursor: pointer;
}
button:focus {
    outline: none;
}
button:disabled {
  cursor: not-allowed;
  color: rgba(255,255,255,0.2)
}
button:disabled:hover {
  text-shadow: 0 0 5px rgba(255,255,255,0.2);
}
/* ---- Header Values ---- */
.header {
    background-color: #0E2E3B;
    position: fixed;
    z-index: 2;
    width: 100%;
    box-shadow: 0 0 5px #624e6b;
    ul {
        display: inline;
        float: right;
        li {
            float: left;
        }
    }
    button:hover {
      text-shadow: 0 0 5px #fff;
    }
}
.title {
    margin-left: 190px;
    transition: margin-left 0.5s;
}
h1.title.shift-left {
    margin-left: 15px;
    float: left;
}
#cpanel {
    float: left;
    width: 165px;
    position: fixed;
    right: 220px;
    top: 8px;
    label {
        display: none;
        float: left;
    }
    input[type="range"] {
        -webkit-appearance: none;
        float: left;
        width: 75px;
        position: relative;
        top: 15px;
        background: transparent;
    }
    input[type="range"]:focus {
      outline: none;
    }
    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 22px;
      width: 12px;
      border-radius: 5px;
      background: #fff;
      margin-top: -9px;
      background-color: rgb(20, 139, 181);
      border: 2px solid rgba(255,255,255,0.8);
    }
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        //box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
        background: rgb(20, 139, 181);
        border-radius: 4px;
        border: 2px solid rgba(255,255,255,0.8);
        transition: all .5s;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
        box-shadow: 0px 0px 5px 2px #91d5fd;
    }
    #zoomText {
        color: #fff;
        font-family: CarterOne;
        font-size: 22px;
        float: right;
        width: 52px;
        text-align: right;
        //margin-top: 7px;
        background: rgb(20, 139, 181);
        border-radius: 4px;
        padding: 3px 26px 0 0;
        border: 2px solid rgba(255,255,255,0.8);
        outline: none;
        transition: all .5s;
    }
    #zoomText:focus {
      box-shadow: 0px 0px 5px 2px #91d5fd;
    }
    #percent {
      position: absolute;
      top: 5px;
      right: 5px;
      color: #fff;
      font-family: CarterOne;
      float: right;
      font-size: 22px;
    }
}
button#trash {
    background-color: #ff0000;
    padding-left: 10px;
    box-shadow: -3px 0 10px -2px rgb(0, 0, 0);
}
/* ---- Library Values ---- */
.library {
    background-color: rgba(22, 102, 120, 0.2);
    /*clear: both;*/
    height: 100vh;
    width: 175px;
    float: left;
    position: fixed;
    top: 0;
    z-index: 2;
    border-right: 3px solid #0e2e3b;
    word-wrap: break-word;
    transition: margin-left 0.5s;
    h1 {
        /*margin: 0 auto;*/
        display: block;
        text-align: center;
        width: 175px;
    }
    ul {
        color: #0E2E3B;
        float: left;
        width: 100%;
        height: 90%;
        transition: all 0.25s;
        overflow-y: auto;
    }
    li {
        cursor: pointer;
        clear: both;
        font-size: 12px;
        font-family: Ubuntu;
        line-height: 1.42857143;
    }
    li:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .libDir,
    .libFile {
        a {
            display: block;
            text-decoration: none;
            transition: all 0.25s;
            padding: 3px 0 3px 5px;
            color: #808080;
            box-shadow: inset 1px 0 0 0 #ddbfeb;
        }
        a:hover {
            text-decoration: none;
            box-shadow: inset 3px 0 0 0 #000;
            background: #fff;
            color: #000;
        }
    }
}
.shift-left {
    margin-left: -175px;
    ul#dirLib {
        color: rgba(125, 185, 179, 0);
    }
}
#libSlider {
    transition: right 0.5s;
    position: absolute;
    font-size: 65px;
    top: 50vh;
    right: -15px;
    color: #f3f3f3;
    z-index: -1;
    text-shadow: 4px 0 0 #0E2E3B;
    background: transparent;
}
#libSlider:hover {
    right: -25px;
}
#libSlider:focus {
    outline: none;
}
.directory {
    background-color: rgba(243,243,243,1);
}
.directory::-webkit-scrollbar-track {
    background-color: #f3f3f3;
}
.directory::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}
.navigation {
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: -3px 0 10px -2px rgba(144,144,144,0.2);
}
/* ---- ViewerDiv Values ---- */
.mainWindow {
    /*float: left;*/
    /*clear: none;*/
    position: relative;
    //background-color: #D8B7C3;
    width: 100%;
    height: 100vh;
    padding-top: 56px;
    img {
        float: left;
        width: 50%;
    }
}
/* ---- Loading Icon ---- */
.loader,
.loader:after,
.loader:before {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader:after,
.loader:before {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 88px auto;
    position: fixed;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    right: 50%;
    top: 30%;
}
.loader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    100%,
    80% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    100%,
    80% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
.hidden {
    display: none;
}
