/* ./app/css/style.css */

/* ---- GLOBAL VALUES ---- */

body {
	margin: 0;
}
p {
	color: #7DB9B3;
}

.header {
	background-color: #0E2E3B;
	border-bottom: 1px solid #D8D7C3;
	/*position: absolute;*/
}

.library {
	background-color: #166678;
	clear: both;
	height: 100vh;
	/*position: relative;*/
}

h1, h2, h3, h4, h5, h6 {
	color: #D8D7C3;
	margin: 0;
	padding: 5px;
	/*border: 1px solid #d8d7c3;*/
	display: inline-block;
	margin: 2px;
}

ul {
	padding: 0;
	margin: 0;
	display: inline;
	float: right;
}

ul li {
	float: left;
}

button {
	font-size: 36px;
	background-color: rgba(0, 0, 0, 0);
	border: 0px;
	color: #D8D7C3;
}
