/* ./app/css/style.scss */
/* ---- GLOBAL VALUES ---- */
body {
  background-color: #424242;
  margin: 0;
  font-family: rokkitt;
  /*color: #D8D7C3;*/
}

p {
  color: #7DB9B3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  padding: 8px;
  display: inline-block;
  margin: 0;
  font-family: CarterOne;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li ul {
  margin-left: 16px;
}

button {
  font-size: 35px;
  background-color: transparent;
  border: 0;
  color: #fff;
}

button:focus {
  outline: none;
}

/* ---- Header Values ---- */
.header {
  background-color: #0E2E3B;
  border-bottom: 1px solid #D8D7C3;
  position: fixed;
  z-index: 2;
  width: 100%;
}
.header ul {
  display: inline;
  float: right;
}
.header ul li {
  float: left;
}

.title {
  margin-left: 180px;
  transition: margin-left 0.5s;
}

h1.title.shift-left {
  margin-left: 5px;
  float: left;
}

#cpanel {
  float: left;
  width: 300px;
  margin-left: 5px;
}
#cpanel label {
  display: none;
  float: left;
}
#cpanel input[type="range"] {
  -webkit-appearance: none;
  float: left;
  width: 70%;
  position: relative;
  top: 20px;
  background: transparent;
}
#cpanel input[type="range"]:focus {
  outline: none;
}
#cpanel input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 22px;
  width: 12px;
  border-radius: 5px;
  background: #fff;
  margin-top: -8px;
  background-color: #148bb5;
  border: 2px solid rgba(255, 255, 255, 0.8);
}
#cpanel input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
#cpanel input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
#cpanel output {
  color: #fff;
  font-family: CarterOne;
  font-size: 22px;
  float: right;
  width: 80px;
  text-align: right;
  margin-top: 7px;
  background: #148bb5;
  border-radius: 2px;
  padding: 3px 3px 0 0;
}

button#trash {
  margin-left: 10px;
  background-color: #ff0000;
  padding-left: 10px;
}

/* ---- Library Values ---- */
.library {
  background-color: #166678;
  /*clear: both;*/
  height: 100vh;
  width: 175px;
  float: left;
  position: fixed;
  top: 0;
  z-index: 2;
  border-right: 3px solid #0e2e3b;
  word-wrap: break-word;
  transition: margin-left 0.5s;
}
.library h1 {
  /*margin: 0 auto;*/
  display: block;
  text-align: center;
  width: 175px;
}
.library ul {
  font-family: monospace;
  color: #0E2E3B;
  float: left;
  width: 100%;
  height: 90%;
  transition: all 0.25s;
  overflow-y: auto;
}
.library li {
  cursor: pointer;
  clear: both;
  font-size: 12px;
  font-family: Josefin;
}
.library li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
.library .libDir a,
.library .libFile a {
  display: block;
  text-decoration: none;
  transition: all 0.5s;
  padding: 3px;
  color: #808080;
}
.library .libDir a:hover,
.library .libFile a:hover {
  text-decoration: none;
  box-shadow: inset 2px 0 0 0 #ff0000;
  background: #fff;
  color: #000;
}

.shift-left {
  margin-left: -172px;
}
.shift-left ul#dirLib {
  color: rgba(125, 185, 179, 0);
}

#libSlider {
  transition: right 0.5s;
  position: absolute;
  font-size: 65px;
  top: 50vh;
  right: -15px;
  color: #f3f3f3;
  z-index: -1;
  text-shadow: 4px 0 0 #0E2E3B;
}

#libSlider:hover {
  right: -25px;
}

#libSlider:focus {
  outline: none;
}

.directory {
  background-color: #f3f3f3;
}

.directory::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}

.directory::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.navigation {
  position: absolute;
  right: 0;
  top: 0;
}

/* ---- ViewerDiv Values ---- */
.mainWindow {
  /*float: left;*/
  /*clear: none;*/
  position: relative;
  background-color: #D8B7C3;
  width: 100%;
  height: 100vh;
  padding-top: 56px;
}
.mainWindow img {
  float: left;
  width: 50%;
}

/* ---- Loading Icon ---- */
.loader,
.loader:after,
.loader:before {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader:after,
.loader:before {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: fixed;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  right: 50%;
  top: 30%;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
    100%,
    80% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
    100%,
    80% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
